@import url(https://fonts.googleapis.com/css2?family=Lexend:wght@100;

300;400;500;600;700;800&display=swap);
* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  cursor: pointer;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

body {
  font-weight: 400;
  font-family: "Lexend", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0 10px;
}

.img-ico {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
}

.img-ico img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#app {
  min-height: 100%;
  width: 100%;
  background-color: #EDEEF0;
}

#header-component {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #FFFFFF;
  height: 60px;
  border-bottom: 1px solid #DFE9F0;
}

#header-component .header-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 100%;
}

#header-component .header-row .header-logo {
  flex: 1 0 auto;
  padding-right: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#header-component .header-row .header-logo h1 {
  margin: auto 0;
  font-weight: 700;
  font-size: 32px;
}

#header-component .header-row .header-logo h1 a {
  color: #000000;
}

#header-component .header-row .header-content {
  width: 100%;
  height: 100%;
}

#header-component .header-row .header-content .login-header {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#header-component .header-row .header-content .login-header .header-link {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#header-component .header-row .header-content .login-header .header-link a {
  color: #000000;
  font-size: 18px;
  font-weight: 500;
}

#header-component .header-row .header-content .user-header {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#header-component .header-row .header-content .user-header #header-notification {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 8.5%;
  padding: 0 10px;
  font-size: 16px;
}

#header-component .header-row .header-content .user-header #header-notification:hover {
  cursor: pointer;
  background-color: #E5E7EB;
}

#header-component .header-row .header-content .user-header #user-notification {
  position: absolute;
  top: 100%;
  margin-left: 8.5%;
  border: 1px solid #DFE9F0;
  border-radius: 0 0 3px 3px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  max-height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
}

#header-component .header-row .header-content .user-header #user-notification .notification-header {
  padding: 15px 20px;
  border-bottom: 1px solid #DFE9F0;
  font-weight: 700;
  font-size: 14px;
}

#header-component .header-row .header-content .user-header #user-notification .notification-list {
  display: flex;
  flex-direction: column;
}

#header-component .header-row .header-content .user-header #user-notification .notification-list .notice {
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#header-component .header-row .header-content .user-header #user-notification .notification-list .notice .notice-pic {
  flex: 0 0 10%;
  padding-right: 10px;
}

#header-component .header-row .header-content .user-header #user-notification .notification-list .notice .notice-content {
  flex: 0 0 90%;
  display: flex;
  flex-direction: column;
}

#header-component .header-row .header-content .user-header #user-notification .notification-list .notice .notice-content .notice-header {
  font-size: 15px;
  font-weight: 500;
  color: #3490dc;
  padding-bottom: 10px;
}

#header-component .header-row .header-content .user-header #user-notification .notification-list .notice .notice-content .notice-text {
  font-size: 14px;
}

#header-component .header-row .header-content .user-header #header-menu {
  min-width: 130px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  font-size: 16px;
}

#header-component .header-row .header-content .user-header #header-menu:hover {
  cursor: pointer;
  background-color: #E5E7EB;
}

#header-component .header-row .header-content .user-header .active {
  background-color: #E5E7EB;
}

#header-component .header-row .header-content .user-header #user-menu {
  position: absolute;
  top: 100%;
  right: 0;
  border: 1px solid #DFE9F0;
  border-radius: 0 0 3px 3px;
  background-color: #FFFFFF;
}

#header-component .header-row .header-content .user-header #user-menu ul {
  display: flex;
  flex-direction: column;
}

#header-component .header-row .header-content .user-header #user-menu ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px 0;
}

#header-component .header-row .header-content .user-header #user-menu ul li a {
  color: #000000;
  padding: 5px 10px;
  font-size: 15px;
  width: 100%;
}

#header-component .header-row .header-content .user-header #user-menu ul li a:hover {
  background-color: #E5E7EB;
}

#notfound {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #6574cd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#notfound .notfound-column {
  display: flex;
  flex-direction: column;
  color: #000000;
}

#notfound .notfound-column h2 {
  font-size: 40px;
  font-weight: 700;
}

#notfound .notfound-column a {
  margin-top: 15px;
  font-size: 18px;
  font-weight: 500;
}

#signin-page {
  padding-bottom: 20px;
  flex: 0 0 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

#signin-page .signin-content {
  flex: 0 0 69%;
  background: #FFFFFF;
  overflow: hidden;
  padding: 15px;
  border-radius: 3px;
}

#signin-page .signin-form {
  flex: 0 0 29%;
  background: #FFFFFF;
  overflow: hidden;
  padding: 15px;
  border-radius: 3px;
}

#signin-page .signin-form .login-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#signin-page .signin-form .login-form .login-error {
  color: #e3342f;
  font-size: 16px;
  margin-bottom: 15px;
}

#signin-page .signin-form .login-form input {
  width: 100%;
  border: 1px solid #DFE9F0;
  border-radius: 3px;
  font-size: 18px;
  padding: 10px;
  margin-bottom: 15px;
}

#signin-page .signin-form .login-form button {
  min-width: 30%;
  padding: 10px;
  background-color: #6574cd;
  font-size: 16px;
  color: #FFFFFF;
  border-radius: 3px;
}

#signup-page {
  padding-bottom: 20px;
  flex: 0 0 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#signup-page .signup-form {
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FFFFFF;
  overflow: hidden;
  padding: 15px;
  border-radius: 3px;
}

#signup-page .signup-form .register-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px 0;
}

#signup-page .signup-form .register-form .register-error {
  color: #e3342f;
  font-size: 16px;
  margin-bottom: 15px;
}

#signup-page .signup-form .register-form input {
  width: 100%;
  border: 1px solid #DFE9F0;
  border-radius: 3px;
  font-size: 18px;
  padding: 10px;
  margin-bottom: 15px;
}

#signup-page .signup-form .register-form button {
  min-width: 40%;
  margin: 0 auto;
  padding: 10px;
  background-color: #6574cd;
  font-size: 16px;
  color: #FFFFFF;
  border-radius: 3px;
}

#user-page {
  padding-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

#left-menu {
  position: sticky;
  top: 80px;
  flex: 0 0 19%;
  background: #FFFFFF;
  overflow: hidden;
  border-radius: 3px;
}

#left-menu ul li {
  margin: 5px 0;
}

#left-menu ul li:first-child {
  margin-top: 0px;
}

#left-menu ul li:last-child {
  margin-bottom: 0px;
}

#left-menu ul li a {
  color: #000000;
  display: block;
  width: 100%;
  padding: 5px;
  padding-left: 10px;
  border-radius: 3px;
  font-size: 16px;
  letter-spacing: 0.2px;
}

#left-menu ul li a:hover {
  background-color: #E5E7EB;
}

#profile-page {
  flex: 0 0 79%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

#profile-page .profile-column {
  display: flex;
  flex-direction: column;
}

#profile-page .profile-column:first-child {
  flex: 0 0 29%;
}

#profile-page .profile-column:last-child {
  flex: 0 0 69%;
}

#profile-page .profile-column .profile-img {
  background: #FFFFFF;
  overflow: hidden;
  padding: 15px;
  border-radius: 3px;
}

#profile-page .profile-column .profile-img .img-container {
  border-radius: 2px;
  overflow: hidden;
  width: 100%;
  max-height: 300px;
}

#profile-page .profile-column .profile-img .img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#profile-page .profile-column .profile-follow {
  margin-top: 30px;
  background: #FFFFFF;
  overflow: hidden;
  padding: 15px;
  border-radius: 3px;
}

#profile-page .profile-column .profile-follow button {
  width: 100%;
  padding: 10px;
  background-color: #6574cd;
  font-size: 16px;
  color: #FFFFFF;
  border-radius: 3px;
}

#profile-page .profile-column .profile-info {
  background: #FFFFFF;
  overflow: hidden;
  border-radius: 3px;
}

#profile-page .profile-column .profile-info .info-header {
  padding: 15px;
  font-size: 16px;
  border-bottom: 1px solid #DFE9F0;
}

#profile-page .profile-column .profile-info .info-body {
  font-size: 16px;
  padding: 15px;
}

#profile-page .profile-column .profile-info .info-footer {
  font-size: 16px;
  padding: 15px;
  border-top: 1px solid #DFE9F0;
}

#settings-page {
  flex: 0 0 79%;
  background: #FFFFFF;
  overflow: hidden;
  border-radius: 3px;
}

#settings-page .settings-header {
  padding: 15px;
  font-weight: 500;
  font-size: 17px;
  border-bottom: 1px solid #DFE9F0;
}

#settings-page .settings-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

#settings-page .settings-form .info-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  padding: 20px;
}

#settings-page .settings-form .info-form input {
  border: 1px solid #DFE9F0;
  border-radius: 3px;
  font-size: 18px;
  padding: 10px;
  margin-bottom: 15px;
}

#settings-page .settings-form .info-form .settings-message {
  font-size: 16px;
}

#settings-page .settings-form .info-form button {
  padding: 10px;
  background-color: #6574cd;
  font-size: 16px;
  color: #FFFFFF;
  border-radius: 3px;
}

#feed-page {
  flex: 0 0 79%;
  background: #FFFFFF;
  overflow: hidden;
  padding: 15px;
  border-radius: 3px;
}

#messages-page {
  flex: 0 0 79%;
  background: #FFFFFF;
  overflow: hidden;
  padding: 15px;
  border-radius: 3px;
}

#friends-page {
  flex: 0 0 79%;
  background: #FFFFFF;
  overflow: hidden;
  padding: 15px;
  border-radius: 3px;
}


